
    .uvGreen{
        color: green;
    }

    .uvYellow{
        color: yellow;
    }

    .uvOrange{
        color: orange;
    }

    .uvRed{
        color: red;
    }

    .uvPurple{
        color: purple;
    }